$primary-color: #6DA4BF;
$secondary-color: #50788C;
$dark-complimentary: #243740;
$medium-complimentary: #373D40;
$light-complimentary: #B0C1CA;
$dark-color: #333;
$medium-color: #555;
$light-color: #f4f4f4;

$primary-font: 'Montserrat', sans-serif;    