@media screen and (max-width: 320px) {
    #home {
        &-describe {
            .what-side-content {
                ul {
                    padding: 1rem;
                }

                .form-field,
                .text-field {
                    padding: .5rem 0;
                }
            }
        }
    }

    #contact {
        .form-field,
        .text-field {
            padding: .5rem 0;
        }
    }
}

@media screen and (min-width:768px) {
    #contact-top {
        .flex-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .social-contact {
            padding-bottom: .5rem;
        }
    }

    #home {
        &-hero {
            .hero-content {
                h1 {
                    font-size: 3rem;
                    line-height: 3.5rem;
                    padding: 2rem 0;
                }

                h2 {
                    padding: 2rem 0 4rem;
                }
            }
        }

        &-describe {
            .what-content {
                ul li {
                    padding: 0;

                    .flex-container {
                        flex-direction: row;
                        gap: 2rem;
                    }

                    &:nth-child(2n) {
                        .flex-container {
                            flex-direction: row-reverse;
                        }
                    }
                }

                .img-container {
                    max-width: 50%;
                }

                img {
                    min-width: 50%;
                }
            }

            // Home web design
            .home-web-design {
                .img-container {
                    max-width: 50%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            // Process
            #process {
                .process {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    gap: 2rem;
                }
            }
        }
    }

    #my-info {
        .my-info-content {
            flex-direction: row;
        }

        .info {
            border-bottom: none;
            border-right: 1px dotted $dark-color;
            padding: 0 .5rem;
        }
    }
}

@media screen and (min-width: 1025px) {
    #mobile-nav {
        display: none;
    }

    #main-nav {
        display: block;
    }

    #home {
        &-describe {
            .grid-container {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(auto, 1fr);
                max-width: 1200px;
                margin: 0 auto;

                .what-content {
                    grid-column: 1 / span 2;
                }

                .what-side-content {
                    grid-column: 3;
                    margin: auto 0;
                    border-radius: 10px;
                    box-shadow: 1px 1px 5px 3px $medium-color;
                }

                .home-web-design {
                    grid-column: 1 / span 3;
                    background: $light-color;
                }

                .why-content {
                    grid-column: 1 / span 2;
                    background: none;
                }

                .why-side-content {
                    grid-column: 3;
                    border-radius: 10px;
                    box-shadow: 1px 1px 5px 3px $medium-color;
                    margin: auto 0;
                }
            }

            .home-web-design {
                p {
                    padding: 1rem 0 !important;
                }

                h3 {
                    padding: 1rem 0 !important;
                }

                ul li {
                    padding: 1rem 0 !important;
                    
                    .flex-container {
                        flex-direction: row;
                        gap: 4rem;
                    }

                    &:nth-child(2) {
                        .flex-container {
                            flex-direction: row-reverse;
                        }
                    }
                }

                .img-container {
                    min-width: 35%;
                }
            }

            #process {
                grid-column: 1 / span 3;

                .process {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: none;
                    gap: 2rem;
                }
            }
        }
    }

    #cta {
        .cta-content {
            .btn {
                width: 60%;
            }
        }
    }



    #services {
        .services-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            padding: 2rem 0 3rem ;

            .card {
                height: 100%;
                margin-bottom: 0;
            }
        }
    }

    #about {
        .flex-container {
            flex-direction: row-reverse;
            gap: 2rem;
        }
    }

    #main-footer {
        .footer-content {
            flex-direction: row;
            justify-content: space-between;

            .legal {
                flex-direction: row;

                .small-legal {
                    padding: 0 .5rem;
                }

                p {
                    padding: 0 1rem 0 0;
                }
            }

            .social {
                padding: 0;
            }
        }
    }
}