.container {
    max-width: 1200px;
    width: 86%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fill-container {
    width: 100%;
}

// Text modifications
.logo-title {
    font-weight: 500;
    font-size: 1.4rem;
}

.small-logo-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.logo-text {
    font-weight: 600;
}

.small-text-logo {
    font-size: .9rem;
    font-weight: 500;
}

.small-text-logo-title {
    font-size: 1.2rem;
}

.primary-color-text {
    color: $primary-color;
}

// background colors
.bg-dark {
    color: $light-color;
    background: $dark-color;
}

.bg-medium {
    color: $light-color;
    background: $medium-complimentary;
}

.bg-light {
    color: $dark-color;
    background: $light-complimentary;
}

// Buttons
%btn-shared {
    display: block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

.btn {
    &-light {
        @extend %btn-shared;
        color: $medium-complimentary;
        background: $light-color;
        transition: all 450ms;

        &:hover,
        &:active,
        &:focus {
            background: $primary-color
        }
    }

    &-dark {
        @extend %btn-shared;
        color: $light-color;
        background: $medium-complimentary;
        transition: all 450ms;

        &:hover,
        &:active,
        &:focus {
            background: $light-color;
            color: $medium-complimentary;
        }
    }
}

.bottom-line {
    height: 2px;
    width: 7rem;
    background: $primary-color;
    display: block;
    margin: 0 auto;
}

.lead {
    font-weight: bold;
}

.form-contents {
    width: 100%;
}